// $bgColor: #24292e;

$color-white-1: #ffffff;
$color-white-2: rgba(255, 255, 255, 0.9605);

$color-gray-1: #F8F8F8;
$color-gray-2: #EAEAEA;
$color-gray-3: #0E185033;
$color-gray-4: #7E7E82;
$color-gray-5: #DDDDDD;
$color-gray-6: #B5B6BC;


$color-dark-1: #1B1C21;
$color-dark-2: #1B1C21;

$color-red-1: #FF3E79;
$color-red-2: #FF3E79E6;

$color-blue: #B8FFEC;
$color-blue-2: #D9FFF5;
$color-blue-3: #41F6D7;

$color_1: black;

$mq-desktop: 1120px;
$mq-tablet: 768px;
$mq-mobile: 320px;
$mq-large: 1440px;