.price-list-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media (min-width: $mq-tablet) {
  .price-list-container {
      height: auto;
      padding: 24px;
      padding-left: 24px;
      padding-right: 24px;

  }
}
.price-list {
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 52px;
   grid-template-columns: 1fr !important;
   grid-template-columns: repeat(auto-fill, 224px);
   display: flex;
      }


@media (min-width:$mq-tablet) {
  .price-list {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-bottom: 0px;
  }
}




.price-list__item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 260px;
  height: 200px;
  box-sizing: border-box;
  background-color: $color-white-1;
  border: 1px solid $color-gray-2;
  border-radius: 10px;
  padding-left: 16px;
  position: relative;
  padding-bottom: 16px;
}
@media (min-width:$mq-tablet) {
  .price-list__item {
      flex-direction: row;
      width: 100%;
      height: 64px;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0px;
      font-size: 16px;
      align-items: center;
      padding-left: 0px;
      cursor: default;
      position: relative;
  }
}


.red-button__text {
  text-transform: uppercase;
  display: block;
  align-self: center;
  color:$color-white-1;
  font-weight: 500;
  font-size: 12px;
}

.price-list__item--hidden {
  display: none;
}
@media (min-width: $mq-tablet) {
  .price-list__item--hidden {
      display: flex;
  }
}
@media (min-width: $mq-tablet) {
  .price-list__item::after {
      content: '';
      width: 96%;
      height: 2px;
      background-color:$color-gray-1;
      position: absolute;
      top: 62px;
      margin-left: 15px;
      margin-right: 15px;
  }
}
.price-list__heading {
  font-size: 14px;
  color: $color-gray-4;
  padding-top: 16px;
}
@media (min-width: $mq-tablet) {
  .price-list__heading {
      display: flex;
  }
}
@media (min-width:$mq-tablet) {
  .price-list--hidden {
      display: none;
  }
}
@media (min-width:$mq-tablet) {
  .price-list--first-line {
      height: 28px;
      color:$color-gray-4;
      padding-bottom: 12px;
      background-color:$color-gray-1;
  }
}
.price-list--second-line {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.price-list--last-line {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 768px) {
  .price-list--table-column-first {
      width: 53%;
      padding-left: 16px;
  }
}
@media (min-width: $mq-tablet) {
  .price-list--table-column-second {
      width: 12%;
  }
}
@media (min-width:$mq-tablet) {
  .price-list--table-column-third {
      width: 13%;
  }
}
@media (min-width: $mq-tablet) {
  .price-list--table-column-fourth {
      width: 119px;
  }
}


.red-button--price {
  position: absolute;
  left: 125px;
  top: 150px;
}
@media (min-width:$mq-tablet) {
  .red-button--price {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
  }
}

.extra-info {
	padding: 0 16px 16px 16px;
	max-width: 420px;
}
.extra-info__text {
	padding-bottom: 16px;
  padding-top: 32px;
	font-size: 14px;
	line-height: 20px;
}
.extra-info__link {
	display: inline;
	font-size: 16px;
	line-height: 10px;
	color: $color_1;
	&::after {
		content: url("../img/dropdown.svg");
		padding-left: 8px;
		position: relative;
		top: 2px;
	}
}
@media (min-width:$mq-tablet) {
	.extra-info {
		padding-left: 24px;
	}
}
