.read-more {
  cursor: pointer;
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 10px;
  border: none;
  background-color: unset;
  transition: color 0.5s ease;
}

.read-more:hover {
  color: #FF3E79;
}

.read-more--show:before {
  content: url("../img/expand-show.svg");
  margin-right: 15px;
  vertical-align: middle;
  width: 10px;
  display: inline-block;
}

.read-more--hide {
  display: none;
}

.read-more--hide:before {
  content: url("../img/expand-hide.svg");
  margin-right: 15px;
  vertical-align: middle;
  width: 10px;
  display: inline-block;
}
@media (min-width: $mq-mobile) {
	.main__read-more {
		position: relative;
		background: none;
		border: none;
		font-size: 16px;
		color:$color-dark-1;
		margin-right: 150px;
		padding-top: 16px;
		padding-bottom: 16px;
		&::before {
			content: "";
			display: inline-block;
			background: url(../img/more.svg) 50% 50% no-repeat;
			height: 11px;
			width: 11px;
			margin-right: 8px;
		}
  }
}